:root {
    --x-color: #ca43ff;
    --y-color: #450074;
    --yb-color: #826894;
    --z-color: rgb(218, 218, 218);
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}

form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto; /* Ajuste para centrar el formulario */
    background-color: var(--yb-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input,
select,
button,
.btn {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #e100ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #60006d;
    transition: 0.3s;
}

button.dark-mode-toggle {
    background-color: #333;
    color: white;
}

canvas {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: none;
}

label.upload-button {
    background-color: #e100ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 93%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

label.upload-button:hover {
    background-color: #60006d;
    transition: 0.3s;
}

input[type="file"] {
    display: none;
}

body.dark-mode {
    background-color: #1b1b1b;
    color: aliceblue;
}

form.dark-mode {
    background-color: #000000;
    color: aliceblue;
}

label.dark-mode {
    color: aliceblue;
}

a {
    color: var(--x-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--x-color);
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #7a00cc;
    text-decoration: none;
}

@media (max-width: 76px) {
    form {
        max-width: 93%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px; 
        padding-right: 20px; 
    }
    input,
    select,
    button,
    .btn,
    label.upload-button { 
        width: 93%;
        display: inline-block;
        border: none;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.3s;
    }
    .upload-button{
        max-width: 93%;
    }

}


@media (max-width: 480px) {
    form {
        padding: 10px; 
    }
}

