:root {
    --primary-color: #9900ff; 
    --secondary-color: #450074; 
    --ff-color:#120052;
}

/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1.6; 
    color: #333; 
    background-color: #f9f9f9; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

/* Estilos del banner */
.banner {
    background-image: url('bg.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 100px 0; 
    text-align: center; 
    color: #cfcfcf; 
}

.banner h1 {
    font-size: 3em; 
    margin-bottom: 20px; 
}

.banner p {
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

.container {
    width: 100%;
  }
  
  header {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
  }
  
  .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none; 
  }
  
  .btn:hover {
    transition: 0.4s;
    background-color: var(--secondary-color);
  }
  .nav,
  .nav li {
    list-style: none;
  }
  
  .nav-link {
    display: inline-block; 
    margin-right: 10px; 
  }

  h1 {
    margin: 0; 
    font-size: inherit; 
    margin-left: 20px;
  }
  .nav-link:hover {
    transition: 0.4s;
    color: var(--ff-color);
   
  }
/* Estilos del footer */
footer {
    position: relative;
    width: 100%;
    background-color: #333;
    color: #bdbdbd;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
}

footer a {
    color: #bdbdbd;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}
